{{>navbar}}
<h2>¡Hola {{user.first_name}}!</h2>

<h4>Datos del usuario</h4>
<h5>Nombre:<p>{{user.first_name}}</p></h5>
<h5>Apellido:<p>{{user.last_name}}</p></h5>
<h5>Edad:<p>{{user.age}}</p></h5>
<h5>Email:<p>{{user.email}}</p></h5>